*,html,body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    text-align: center;
}
.top-item{
    position: relative;
    top: -400px;
    margin: 15px;
}
.logo-1{
    color: black;
    border: 1px solid black;
    border-radius: 100px;
    display: inline;
    background-color: white;
    padding:10px;
    margin: 3px;
}
ul{
    background-color: white;
    padding: 20px;
    width: 50%;
    border: 1px solid white;
    position: relative;
    right: -300px;
    top: -400px;
}
ul li{
    display: inline;
}
ul li a{
    text-decoration: none;
     color: black;
     margin: 5px;
     font-size: 15px;
     position: relative;
     left: 20%;
}
.coloured-icon{
    color: red;
    position: relative;
    right: 40%;
    font-size: 20px;
}
.icon-2{
    color: red;
}
.icon-2-hover{
      background-color: red;
}
.content-1{
    position: relative;
    top: -300px;
    gap: 40px;
}
.header-10{
    color:white;
    text-decoration: underline;
    font-size: 20px;
    margin: 5px;
}
.header-12{
    color: white;
}
.header-13{
    margin: 5px;
    color: white;
    background-color: red;
    background-size: 20px;
    padding: 5px;
    width: 150px;
    position: relative;
    right: -590px;
}
.flex-container-6{
    display: flex;
    height: 100px;
    position: relative;
    top: -205px;
}
.dot-1{
    background-color: black;
    border: 2px solid black;
    height: 10px;
    width: 10px;
    margin: 5px;
    border-radius: 15px;
}
.dot-2{
    background-color: black;
    border: 2px solid black;
    height: 10px;
    width: 10px;
    margin: 5px;
    border-radius: 15px;
}
.dot-3{
    background-color: black;
    border: 2px solid black;
    height: 10px;
    width: 10px;
    margin: 5px;
    border-radius: 15px;
}
.first-border-div{
    position: relative;
    top: -250px;
}
.header-4{
    font-size: 20px;
    margin: 10px;
    text-decoration-line: underline;
}
.flex-container-1{
    display: flex;
    position: relative;
    top: -250px;
}
.box-1{
    border: 2px solid green;
    height: 150px;
    width: 150px;
    margin: 5px;
    background-color: green;
}
.box-2{
    border: 2px solid yellow;
    height: 150px;
    width: 150px;
    margin: 5px;
    background-color: yellow;
}
.box-3{
       border: 2px solid skyblue;
       height: 150px;
       width: 150px;
       margin: 5px;
       background-color: skyblue;
       
       
}
.box-4{
    border: 2px solid seagreen;
    height: 150px;
    width: 150px;
    margin: 5px;
    background-color: seagreen;
    
}
.header-20{
    position: relative;
    top: -250px;
    margin: 20px;
}
.style-1{
    font-size: 20px;
    text-decoration: underline;
    margin: 5px;
}
.flex-container-2{
    display: flex;
    position: relative;
    top:-250px;
}
.flex-container-23{
    display: flex;
    position: relative;
    top: -250px;
}
.flex-content-30{
    margin: 5px;
}
.logo-2{
    color: white;
    background-color: red;
    width: 50px;
    height: 60px;
    position: relative;
    top: -335px;
    margin-left: 247px;
    
    
}
.div-1{
    margin-top: 60px;
    font-weight: 600;
    font-size: large;
    color: white;
    
}
